<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Gomix!</title>
    <meta name="description" content="A cool thing made with Gomix">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.6.1/tachyons.min.css">
  </head>
  <body>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mithril/1.0.0-rc.7/mithril.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.23.0/ramda.min.js"></script>
    <script src="https://cdn.rawgit.com/paldepind/flyd/master/flyd.js"></script>
    <script src="https://wzrd.in/standalone/j2c@latest"></script>
    <script src="https://wzrd.in/standalone/ramda-lens@latest"></script>
    
    <script src="/lib/glass.js"></script>
    <script src="/lib/glass-tachyons.js"></script>
    <script src="/lib/glass-stream.js"></script>
    
    <script src="/views/label.js"></script>
    <script src="/views/tab-pane.js"></script>
    <script src="/views/counter.js"></script>
    <script src="/views/feed.js"></script>
    
    <script src="/client.js"></script>
    

  </body>
</html>
